<app-header></app-header>
<h3>Claims Page</h3>
<hr>
<button (click)="changeHeight()">Change Height</button><br/><br/>
<label>Footer Height: {{height | async | funPipe }}</label> 
<app-footer></app-footer>