<app-header></app-header>
<h3>Home Page</h3>
<hr>
<button (click)="changeHeight()">Change Height</button><br/><br/>
<label>Footer Height: {{height | async}}</label><br>
<label>My Fun Pipe: {{height | async | funPipe }}</label>
<app-footer></app-footer>